
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

input{
  padding: 10px;
  border-radius: 20px;
  border: 0;
  width: 400px;
  font-size: 16px;
}

input:hover{
  border: 1px solid black;
}


